* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: #2e3440;
    border: 2px solid #a3be8c;
}

#temperature,
#backlight,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #2e3440;
    margin: 6px 0px 6px 6px;
    border: 2px solid #a3be8c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #a3be8c;
}

#workspaces button.focused {
    color: #a3be8c;
}

#workspaces button.urgent {
    color: #bf616a;
}

#clock {
    background-color: #2e3440;
    border: 2px solid #a3be8c;
    color: #a3be8c;
}

#battery {
    background-color: #2e3440;
    border: 2px solid #a3be8c;
    color: #a3be8c;
}

#temperature,
#backlight,
#tray,
#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #2e3440;
    border: 2px solid #a3be8c;
    color: #a3be8c;
}
